<!DOCTYPE html>
<html lang="en">
    <head>
        <%= require('html-loader!./layout/head-common.html') %>
        <title><%= htmlWebpackPlugin.options.title %> - fashionforconservation</title>
    </head>  
    <body>
      <%= require('html-loader!./layout/header.html') %>
      <%= require('html-loader!./layout/email.html') %>
      <%= require('html-loader!./layout/nav.html') %>      

      <div class="page-wrap w">
        <div class="productList">
          <div class="left">
            <div class="filter ACCESSORIES">ACCESSORIES</div>
            <div class="filter OUTERWEAR">OUTERWEAR</div>
            <div class="filter TOP">TOP</div>
            <div class="filter BOTTOM">BOTTOM</div>
            <div class="filter SHOES">SHOES</div>
            <div class="filter ALL active">ALL</div>
          </div>
          <div class="right">
            <ul class="sort-con">
                <li class="sort-item active" data-type="default">
                    Sort by featured
                </li>
                <li class="sort-item" data-type="price">
                  <span>Sort by price</span>
                  <i class="fa fa-sort-asc"></i>
                  <i class="fa fa-sort-desc"></i>
                </li>
            </ul>
            <!-- list container -->
            <ul class="p-list-con"></ul>
            <!-- page container -->
            <div class="pagination"></div>
          </div>
        </div>
      </div>    
      <%= require('html-loader!./layout/footer.html') %>
    </body>
</html>