<div class="m hide">
    <div class="email">
        <i class="fa fa-times"></i>
        <div class="left">
            <h2 class="title">Get in Touch!</h2>
            <p class="subtitle">Take a stand for conservation by staying connected with us on the latest campaign and upcoming events where fashion meets conservation.
            </p>
            <p class="subtitle">For media related inquiries please mail us directly: PR@FashionforConservation.com</p>
            <h1 class="popup">Sign up to get your first 10% coupon</h1>
            <h1 class="welcome">Thank you for signing up!</h1>
       </div>
        <div class="right">
            <div class="user-con login">
                <div class="user-title">User Login</div>
                <div class="user-box">
                    <div class="error-item">
                        <i class="fa fa-minus-circle error-icon"></i>
                        <p class="err-msg">Error</p>
                    </div>
                    <div class="user-item">
                        <lable class="user-label" for="username">
                            <i class="fa fa-user"></i>
                        </lable>
                        <input class="user-content" id="login-username"
                        placeholder="User Name" autocomplete="off">
                    </div>
                     <div class="user-item">
                        <lable class="user-label" for="password">
                            <i class="fa fa-lock"></i>
                        </lable>
                        <input type="password" class="user-content" id="login-password" 
                        placeholder="Password" autocomplete="off">
                    </div>
                    <a class="btn btn-submit" id="login-submit">Log in</a>
                    <div class="link-item">
                        <a class="link forget-link">Forget password</a>
                        <a class="link register-link">Register</a>
                    </div>
                </div>
            </div>
            <div class="user-con register">
                    <div class="user-title">Sign up</div>
                    <div class="user-box">
                        <div class="error-item" id="error-username">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <div class="user-item">
                            <lable class="user-label" for="username">
                                <i class="fa fa-user"></i>
                            </lable>
                            <input class="user-content" id="register-username" 
                            placeholder="User Name" autocomplete="off">
                        </div>
                        <div class="error-item" id="error-password">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <div class="user-item">
                            <lable class="user-label" for="password">
                                <i class="fa fa-lock"></i>
                            </lable>
                            <input type="password" class="user-content" id="register-password" 
                            placeholder="Password" autocomplete="off">
                        </div>
                         <div class="error-item" id="error-password-confirm">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                         <div class="user-item">
                            <lable class="user-label" for="password-confirm">
                                <i class="fa fa-lock"></i>
                            </lable>
                            <input type="password" class="user-content" id="password-confirm" 
                            placeholder="Please input password again" autocomplete="off">
                        </div>
                         <div class="user-item">
                            <lable class="user-label" for="phone">
                                <i class="fa fa-phone"></i>
                            </lable>
                            <input class="user-content" id="phone" 
                            placeholder="Mobile phone number" autocomplete="off">
                        </div>
                        <div class="user-item">
                            <lable class="user-label" for="email">
                                <i class="fa fa-envelope"></i>
                            </lable>
                            <input class="user-content" id="email" 
                            placeholder="E-mail address" autocomplete="off">
                        </div>

                        <div class="user-item">
                            <lable class="user-label" for="question">
                                <i class="fa fa-question"></i>
                            </lable>
                            <input class="user-content" id="question" 
                            placeholder="Security question" autocomplete="off">
                        </div>

                        <div class="user-item">
                            <lable class="user-label" for="answer">
                                <i class="fa fa-key"></i>
                            </lable>
                            <input class="user-content" id="answer" 
                            placeholder="Security question answer" autocomplete="off">
                        </div>

                        <a class="btn btn-submit" id="register-submit">Register</a>
                        <div class="link-item">
                            <a> Aleady have an account?
                            <a class="link login-link">Login here</a></a>
                        </div>
                    </div>
            </div>
            <div class="user-con reset">
                    <div class="user-title">Reset Password</div>
                    <div class="user-box">
                        <div class="error-item">
                            <i class="fa fa-minus-circle error-icon"></i>
                            <p class="err-msg">Error</p>
                        </div>
                        <div class="step-con step-username">
                            <p class="user-item-text">Please input user name: </p>
                            <div class="user-item">
                                <lable class="user-label" for="username">
                                    <i class="fa fa-user"></i>
                                </lable>
                                <input class="user-content" id="username" 
                                placeholder="User Name" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-username">Next Step</a>
                        </div>

                        <div class="step-con step-question">
                            <p class="user-item-text">Security question: <span class="question">
                                
                            </span></p>
                            <div class="user-item">
                                <lable class="user-label" for="question">
                                    <i class="fa fa-key"></i>
                                </lable>
                                <input class="user-content" id="reset-answer" 
                                placeholder="Answer" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-question">Next Step</a>
                        </div>

                        <div class="step-con step-password">
                            <p class="user-item-text">Please input new password: </p>
                            <div class="user-item">
                                <lable class="user-label" for="password">
                                    <i class="fa fa-lock"></i>
                                </lable>
                                <input type="password" class="user-content" id="reset-password" 
                                placeholder="New Password" autocomplete="off">
                            </div>
                            <a class="btn btn-submit" id="submit-password">Next Step</a>
                        </div>

                        <div class="link-item">
                                <a class="link return-login">Return to Login Page >></a>
                        </div>
                    </div>
                </div>
            <div class="info">
                <a class="link" href="./list.html" target="_blank">Check Coupon</a>
            </div>
        </div>
    </div>
</div>